<!-- 
 Author: Rakshit Shah
 Email: rakshitshah1994@gmail.com
 Link: https://medium.com/beingcoders/simple-way-to-fetch-the-internet-connection-status-for-your-angular-application-291d9ab34999?sk=5fd1a0ddfa5593ef97e6a6151e0416c7
-->

<div
  class="status"
  [class.offline]="status === onlineStatusCheck.OFFLINE"
></div>
<div style="text-align:center">
  <h1>
    Detect Internet Status Online Offline Demo
  </h1>
  <h2>
    Use third party library :
  </h2>
  <a
    href="https://www.npmjs.com/package/ngx-online-status"
    rel="nofollow"
    target="_blank"
    >npm/ngx-online-status
  </a>
  <h3>Steps to test the functionality</h3>
  <p>
    Just turn <span style="color:#11d411">ON</span> and
    <span style="color:rgb(231, 14, 14)">OFF</span> your Internet connection.
  </p>
</div>
